# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [ ]:
#Import your libraries
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline
from IPython.display import set_matplotlib_formats

# Challenge 1 -  Explore the Internal Dataset

In this lab, we will start off by working with the wine dataset in scikit-learn. We will select the wine dataset and use a clustering algorithm to learn more about the functionalities of this library. 

We start off by loading the dataset using the `load_wine` function ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_wine.html)). In the cell below, we will import the function from scikit-learn.

In [ ]:
from sklearn.datasets import load_wine

In the cell below, use the `load_wine` function and assign the wine dataset to a variable called `wine`.

In [ ]:
# Your code here:
wine = load_wine()

In the next step, list the keys of the variable `wine` to examine its contents. Note that the `load_wine` function does not return dataframes. It returns you a Python dictionary.

In [ ]:
# Your code here:
wine.keys()

Next, list the feature names. These are the different characteristics of the wine.

In [ ]:
# Your code here:
wine.feature_names
values = wine.values()

Print the description of the dataset in the cell below using the `DESCR` attribute of the `wine` variable.

*Hint: If your output is ill-formatted by displaying linebreaks as `\n`, it means you are not using the print function.*

In [ ]:
# Your code here:
wine['DESCR']

#### From the description, we see that all columns are numeric. We also know that there is no missing data 

Let's plot the alcohol content histogram. Recall that we are working with a numpy array and will need to use a matplotlib function to produce a histogram.

In [ ]:
# imports
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline
from IPython.display import set_matplotlib_formats

In [ ]:
# Your code here:
plt.figure(figsize=(12,7))
bar_width = 1
plt.hist(wine.data[:,0])

# Challenge 2 - Clustering the Internal Dataset

In this portion of the lab, we will cluster the data to find common traits between the different wines. We will use the k-means clustering algorithm to achieve this goal.

#### We start by importing k-means from scikit-learn and then proceed to create 4 clusters.

In [ ]:
# imports
from sklearn.cluster import KMeans

In [ ]:
# Your code here:
kmeans=KMeans(n_clusters=4)
kmeans
clusters=kmeans.fit(wine.data)

#### Print the cluster labels.

In [ ]:
# Your code here:
clusters.labels_

#### Compute the size of each cluster. This can be done by counting the number of occurrences of each unique label in the list above.

Which is the largest cluster of the 4?

In [ ]:
from numpy import vstack, array
from numpy.random import rand
from scipy.cluster.vq import kmeans, vq

In [ ]:
# Your code here:
centroids = kmeans(wine.data,4)
centroids

In [ ]:
# Your answer here:

#### Inspect the shape of `wine['data']`

In [ ]:
# Your code here
wine['data'].shape

#### Inspect the first 5 records in `wine['data']`

In [ ]:
# Your code here:
wine['data'][0:5]

You now know the data object is a 2-dimensional array in which there are 178 rows and 13 columns. Each row is a data record and each column is a feature.

#### What is the average ash content for each cluster? 

*Hints:* 

* *Ash* is the 3rd column.

* The data object is not a Pandas dataframe so you can't apply `pandas.DataFrame.groupby`. Instead, you can use `np.average`.

In [ ]:
# Your code here:
np.average(wine.data)

# Challenge 3 - Load and Explore an External Dataset

We will now load an external dataset using Pandas and use scikit learn to explore the data. In this portion of the lab, we will use a [patient dataset from Kaggle](https://www.kaggle.com/miles99/patient-admission-dataset-for-learning-data-mining).

In [3]:
import pandas as pd
patients = pd.read_csv('../patient-admission-dataset-for-learning-data-mining.csv')

In the next cell, print the first five rows of the data using the `head()` function.

In [ ]:
# Your code here:
patients.head()

Next, print the column types and check which columns have been misclassified by pandas.

In [ ]:
# Your code here:
patients.dtypes

#### We can see that none of the date columns have been correctly classified. Also, some columns contain qualitative data that can be dropped.

First, transform the `patient_dob` and `appointment_date` columns to datetime using the `pd.to_datetime` function.

In [ ]:
# Your code here:
pd.to_datetime(patients.patient_dob)
pd.to_datetime(patients.appointment_date)

Next, drop the `id`, `patient_name`, `patient_email`, `patient_nhs_number`, and `doctor_phone` columns. These are not quantitative columns and will not contribute to our analysis.

In [ ]:
patients.columns

In [ ]:
# Your code here:
patients.drop(columns=['id','patient_name','patient_email','doctor_phone'], axis =1)

Now we work on the missing data. Most ML algorithms will not perform as intended if there are missing data.

In the cell below, count how many rows contain missing data in each column. You should see three columns contain missing data:

* `doctor_name`: 58 missing data
* `prescribed_medicines`: 488 missing data
* `diagnosis`: 488 missing data

In [ ]:
# Your code here:
patients.doctor_name.count
patients.prescribed_medicines.count
patients.diagnosis.count

The main issues are found in the `prescribed_medicines` and `diagnosis` columns. Can we simply drop these rows?

The answer is not yet. Because when there are missing data in these columns, it doesn't mean the data records are broken. Instead, it means no medication was prescribed and no diagnosis was recorded. Therefore, once we fill in the missing data these columns will be fine. But we'll revisit these columns and decide whether we will eventually drop them when we look at how many unique values are there in these categorical columns.  

For the `prescribed_medicines` column, fill the missing values with the value `no prescription`. For the `diagnosis` column, fill the missing values with `no diagnosis`.

*Hint: Use [`pandas.DataFrame.fillna`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.fillna.html).*

In [ ]:
# Your code here:
patients['prescribed_medicines'].fillna('no prescription', inplace = True)
patients['diagnosis'].fillna('no diagnosis', inplace = True)
patients

In [ ]:
patients.columns

How about `doctor_name`? Since a doctor visit without a doctor name might not be meaningful, we will drop these rows.

In [5]:
# Your code here:
patients1=patients.dropna(subset = ['doctor_name'])
patients1

,id,patient_name,patient_email,doctor_phone,patient_gender,patient_dob,patient_diabetic,patient_allergic,patient_weight_kg,patient_height_sm,patient_nhs_number,doctor_name,appointment_date,patient_show,is_regular_visit,prescribed_medicines,diagnosis
0,1,Celestyna Dillimore,cdillimore0@dion.ne.jp,674-914-1212,Female,10/18/2018,False,True,59,176,8.200152e+09,Sarena Waliszek,5/1/2018,True,True,triamcinolone acetonide,I669
1,2,Meta Michieli,mmichieli1@loc.gov,172-580-3586,Female,2/8/2018,False,True,77,186,NaN,Farris Robinet,12/7/2017,True,True,NaN,NaN
2,3,Cordie Sancto,csancto2@cafepress.com,794-222-5085,Female,10/9/2018,True,True,90,177,6.145594e+09,Kaspar Spitaro,10/5/2018,False,False,NaN,NaN
3,4,Josh De Ambrosis,jde3@amazon.co.jp,856-540-5195,Male,9/10/2018,True,True,70,150,NaN,Rafferty Fowls,10/21/2018,False,True,NaN,NaN
4,5,Delinda Alfonsini,dalfonsini4@opensource.org,938-978-1131,Female,2/26/2018,False,True,82,140,4.804758e+08,Glenna MacNeachtain,11/15/2018,False,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,995,Kimberli Locke,klockerm@desdev.cn,243-608-3203,Female,2/6/2018,True,False,108,157,7.291006e+09,Cissy Markey,5/10/2018,True,True,NaN,NaN
996,997,Tara Plewright,tplewrightro@wikispaces.com,628-914-7040,Female,10/29/2018,False,True,52,154,8.992301e+09,Flossy Canlin,12/12/2017,True,True,NaN,NaN
997,998,Selig Creyke,screykerp@cnbc.com,507-286-3685,Male,1/11/2018,True,True,91,182,1.825653e+09,Humfried Cartmel,5/17/2018,True,True,NaN,NaN
998,999,Manny Trenaman,mtrenamanrq@sphinn.com,921-567-6180,Male,5/20/2018,False,True,63,157,3.705749e+09,Farris Robinet,12/15/2017,True,True,IRON SUPPLEMENT,S6610
999,1000,Cristobal Fieller,cfiellerrr@wikispaces.com,493-288-3036,Male,6/4/2018,False,False,99,140,8.612920e+09,Gabie Brafield,7/10/2018,True,False,"aluminum hydroxide, magnesium carbonate, sodiu...",I70429

#### Another step in preprocessing that can be performed by scikit-learn is label encoding. 

We have 4 columns that are of `bool` type. We would like to convert them to an integer column containing either zero or one. We can do this using [scikit-learn's label encoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html).

In the cell below, import the label encoder and encode the 4 boolean columns (*patient_diabetic*, *patient_allergic*, *patient_show*, *is_regular_visit*) with `0` and `1`.

In [6]:
# Your code here:
(patients1['patient_diabetic'])=(patients['patient_diabetic']== True).astype(int)
(patients1['patient_allergic'])=(patients['patient_allergic']== True).astype(int)
(patients1['patient_show'])=(patients['patient_show']== True).astype(int)
(patients1['is_regular_visit']) = (patients['is_regular_visit']== True).astype(int)

C:\Users\Raul Pacheco\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Raul Pacheco\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Raul Pacheco\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Raul Pacheco\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

Print the data dtypes to confirm those four `bool` columns are converted to `int64`.

In [7]:
# Your code here:
patients1.dtypes

id                        int64
patient_name             object
patient_email            object
doctor_phone             object
patient_gender           object
patient_dob              object
patient_diabetic          int32
patient_allergic          int32
patient_weight_kg         int64
patient_height_sm         int64
patient_nhs_number      float64
doctor_name              object
appointment_date         object
patient_show              int32
is_regular_visit          int32
prescribed_medicines     object
diagnosis                object
dtype: object

#### The last step is to handle the `object` data.

There are 4 `object` columns now: `patient_gender`, `doctor_name`, `prescribed_medicines`, and `diagnosis`. The gender columns

In the next cell, check the unique values of each of the `object` columns using `value_counts()`.

In [ ]:
# Your code here:
patients1.patient_gender.value_counts().unique
patients1.doctor_name.value_counts().unique
patients1.prescribed_medicines.value_counts().unique
patients1.diagnosis.value_counts().unique

#### The number of unique values is large for all three columns except `patient_gender`. We will handle these columns differently.

For `diagnosis`, there are too many unique values which will make ML difficult. However, we can re-encode the values to either with or without diagnosis. Remember at an earlier step we filled in the missing values of this column with *no diagnosis*? We can re-encode *no diagnosis* to `0` and all other values to `1`. In this way we can tremendously simply this column.

For `prescribed_medicines`, we can drop this column because it is perfectly correlated with `diagnosis`. Whenever there is no diagnosis, there is no prescribed medicine. So we don't need to keep this duplicated data.

How about `doctor_name`? There are not excessive unique values but still quite many (19). We may either drop or keep it but keeping it will make the analysis more complicated. So due to the length of this lab let's drop it.

How about `gender`? This one is easy. Just like re-encoding the boolean values, we can re-encode gender to `0` and `1` because there are only 2 unique values.

In the next cells, do the following:

1. Create a new column called `diagnosis_int` that has `0` and `1` based on the values in `diagnosis`.

1. Create a new column called `patient_gender_int` that has `0` and `1` based on the values in `patient_gender`.

1. Drop the following columns: `doctor_name`, `diagnosis`, `prescribed_medicines`, and `patient_gender`.

In [8]:
# Your code here:
patients1.insert(15,'patient_gender_int',True)
patients1.insert(16,'diagnosis_int',True)

In [9]:
patients1['patient_gender_int'] = patients1['patient_gender']
patients1['diagnosis_int'] = patients1['diagnosis']

C:\Users\Raul Pacheco\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Raul Pacheco\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Let's look at the head again to ensure the re-encoding and dropping are successful:

In [10]:
# Your code here:
patients1.head()

,id,patient_name,patient_email,doctor_phone,patient_gender,patient_dob,patient_diabetic,patient_allergic,patient_weight_kg,patient_height_sm,patient_nhs_number,doctor_name,appointment_date,patient_show,is_regular_visit,patient_gender_int,diagnosis_int,prescribed_medicines,diagnosis
0,1,Celestyna Dillimore,cdillimore0@dion.ne.jp,674-914-1212,Female,10/18/2018,0,1,59,176,8.200152e+09,Sarena Waliszek,5/1/2018,1,1,Female,I669,triamcinolone acetonide,I669
1,2,Meta Michieli,mmichieli1@loc.gov,172-580-3586,Female,2/8/2018,0,1,77,186,NaN,Farris Robinet,12/7/2017,1,1,Female,NaN,NaN,NaN
2,3,Cordie Sancto,csancto2@cafepress.com,794-222-5085,Female,10/9/2018,1,1,90,177,6.145594e+09,Kaspar Spitaro,10/5/2018,0,0,Female,NaN,NaN,NaN
3,4,Josh De Ambrosis,jde3@amazon.co.jp,856-540-5195,Male,9/10/2018,1,1,70,150,NaN,Rafferty Fowls,10/21/2018,0,1,Male,NaN,NaN,NaN
4,5,Delinda Alfonsini,dalfonsini4@opensource.org,938-978-1131,Female,2/26/2018,0,1,82,140,4.804758e+08,Glenna MacNeachtain,11/15/2018,0,0,Female,NaN,NaN,NaN

In [11]:
patients1.drop(columns=['doctor_name','diagnosis','prescribed_medicines','patient_gender'], axis =1)

,id,patient_name,patient_email,doctor_phone,patient_dob,patient_diabetic,patient_allergic,patient_weight_kg,patient_height_sm,patient_nhs_number,appointment_date,patient_show,is_regular_visit,patient_gender_int,diagnosis_int
0,1,Celestyna Dillimore,cdillimore0@dion.ne.jp,674-914-1212,10/18/2018,0,1,59,176,8.200152e+09,5/1/2018,1,1,Female,I669
1,2,Meta Michieli,mmichieli1@loc.gov,172-580-3586,2/8/2018,0,1,77,186,NaN,12/7/2017,1,1,Female,NaN
2,3,Cordie Sancto,csancto2@cafepress.com,794-222-5085,10/9/2018,1,1,90,177,6.145594e+09,10/5/2018,0,0,Female,NaN
3,4,Josh De Ambrosis,jde3@amazon.co.jp,856-540-5195,9/10/2018,1,1,70,150,NaN,10/21/2018,0,1,Male,NaN
4,5,Delinda Alfonsini,dalfonsini4@opensource.org,938-978-1131,2/26/2018,0,1,82,140,4.804758e+08,11/15/2018,0,0,Female,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,995,Kimberli Locke,klockerm@desdev.cn,243-608-3203,2/6/2018,1,0,108,157,7.291006e+09,5/10/2018,1,1,Female,NaN
996,997,Tara Plewright,tplewrightro@wikispaces.com,628-914-7040,10/29/2018,0,1,52,154,8.992301e+09,12/12/2017,1,1,Female,NaN
997,998,Selig Creyke,screykerp@cnbc.com,507-286-3685,1/11/2018,1,1,91,182,1.825653e+09,5/17/2018,1,1,Male,NaN
998,999,Manny Trenaman,mtrenamanrq@sphinn.com,921-567-6180,5/20/2018,0,1,63,157,3.705749e+09,12/15/2017,1,1,Male,S6610
999,1000,Cristobal Fieller,cfiellerrr@wikispaces.com,493-288-3036,6/4/2018,0,0,99,140,8.612920e+09,7/10/2018,1,0,Male,I70429

An interesting observation is that all patients are no older than 2 years. However, their weights and heights indicate that they are adults. This cannot be true. Therefore, we can either trust the weight and height columns or the DOB column. Since there are other columns that indicate that these are adults (they have emails, some have diabetes) we will drop the `patient_dob` column. We will also drop the `appointment_date` column since it has too many unique values to transform to a dummy variable. Drop the two columns in the cell below.

In [12]:
# Your code here:
patients1.drop(columns=['patient_dob','appointment_date'], axis =1)

,id,patient_name,patient_email,doctor_phone,patient_gender,patient_diabetic,patient_allergic,patient_weight_kg,patient_height_sm,patient_nhs_number,doctor_name,patient_show,is_regular_visit,patient_gender_int,diagnosis_int,prescribed_medicines,diagnosis
0,1,Celestyna Dillimore,cdillimore0@dion.ne.jp,674-914-1212,Female,0,1,59,176,8.200152e+09,Sarena Waliszek,1,1,Female,I669,triamcinolone acetonide,I669
1,2,Meta Michieli,mmichieli1@loc.gov,172-580-3586,Female,0,1,77,186,NaN,Farris Robinet,1,1,Female,NaN,NaN,NaN
2,3,Cordie Sancto,csancto2@cafepress.com,794-222-5085,Female,1,1,90,177,6.145594e+09,Kaspar Spitaro,0,0,Female,NaN,NaN,NaN
3,4,Josh De Ambrosis,jde3@amazon.co.jp,856-540-5195,Male,1,1,70,150,NaN,Rafferty Fowls,0,1,Male,NaN,NaN,NaN
4,5,Delinda Alfonsini,dalfonsini4@opensource.org,938-978-1131,Female,0,1,82,140,4.804758e+08,Glenna MacNeachtain,0,0,Female,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,995,Kimberli Locke,klockerm@desdev.cn,243-608-3203,Female,1,0,108,157,7.291006e+09,Cissy Markey,1,1,Female,NaN,NaN,NaN
996,997,Tara Plewright,tplewrightro@wikispaces.com,628-914-7040,Female,0,1,52,154,8.992301e+09,Flossy Canlin,1,1,Female,NaN,NaN,NaN
997,998,Selig Creyke,screykerp@cnbc.com,507-286-3685,Male,1,1,91,182,1.825653e+09,Humfried Cartmel,1,1,Male,NaN,NaN,NaN
998,999,Manny Trenaman,mtrenamanrq@sphinn.com,921-567-6180,Male,0,1,63,157,3.705749e+09,Farris Robinet,1,1,Male,S6610,IRON SUPPLEMENT,S6610
999,1000,Cristobal Fieller,cfiellerrr@wikispaces.com,493-288-3036,Male,0,0,99,140,8.612920e+09,Gabie Brafield,1,0,Male,I70429,"aluminum hydroxide, magnesium carbonate, sodiu...",I70429

#### Our data is now ready for clustering. Let's use k-means again.

We start by initializing and fitting a model in the cell below. Call this model patients_cluster.

In [ ]:
# Your code here:
kmeans=KMeans(n_clusters=4)
kmeans
patients_cluster=kmeans.fit(patients1)

Attach the labels to the dataframe. Do this by accessing the `labels_` in the `patients_cluster` model and assign them to a new column in `patients` that you will call `labels`.

In [ ]:
# Your code here:
patient_cluster.labels

Now using a `groupby`, find the mean of every variable in `patients` and group by the `labels` column. This summary will allow us to see how the patients differ between the clusters. Your output should look similar to the image below.

![groupby mean](../groupby-mean.png)

Additionally, add a comment to describe which columns have the largest difference between clusters.

In [13]:
patients1.columns

Index(['id', 'patient_name', 'patient_email', 'doctor_phone', 'patient_gender',
       'patient_dob', 'patient_diabetic', 'patient_allergic',
       'patient_weight_kg', 'patient_height_sm', 'patient_nhs_number',
       'doctor_name', 'appointment_date', 'patient_show', 'is_regular_visit',
       'patient_gender_int', 'diagnosis_int', 'prescribed_medicines',
       'diagnosis'],
      dtype='object')

In [20]:
# Your code here:
gp = patients1.groupby(['patient_diabetic','patient_allergic','patient_weight_kg','patient_height_sm','patient_show','is_regular_visit','diagnosis_int','patient_gender_int'])
gp.mean().head(5)

                                                                                                                                       id  \
patient_diabetic patient_allergic patient_weight_kg patient_height_sm patient_show is_regular_visit diagnosis_int patient_gender_int
0                0                50                157               0            1                M7981         Female              593
                                                    185               1            0                S72445M       Male                407
                                  52                152               1            0                Y37251D       Male                 24
                                                    162               0            0                A154          Male                703
                                                    183               1            0                S3215XB       Female              428

                                                                                                                                      patient_nhs_number
patient_diabetic patient_allergic patient_weight_kg patient_height_sm patient_show is_regular_visit diagnosis_int patient_gender_int
0                0                50                157               0            1                M7981         Female                    9.353077e+09
                                                    185               1            0                S72445M       Male                      2.257537e+09
                                  52                152               1            0                Y37251D       Male                               NaN
                                                    162               0            0                A154          Male                      6.426351e+09
                                                    183               1            0                S3215XB       Female                             NaN

In [ ]:
# Your comment here:
# There are quite the same values of the table

# Bonus Challenge: Visualize K-Means Clusters

How did k-means cluster the data? You can obtain an intuitive view with a scatter plot. Generate a 2-d cluster plot below using `matplotlib`. You need to choose 2 of the features from your cleaned and transformed dataset, and use color to represent the cluster label generated from k-means.

If the scatter plot does not make any sense to you, it means the features you chose to visualize are not the right ones. You should be able to see 4 clear clusters with different colors in your visualization that suggests how k-means had clustered your data.

![Cluster Visualization](../clusters.png)

In [ ]:
# Your code here:

Additionally, you can visualize the clusters in 3-D scatter plot. Give it a try below.

In [ ]:
# Your code here: